[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "powerline-fonts"]
	path = dependencies/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:rayjzeng/prezto
[submodule "dependencies/up"]
	path = dependencies/up
	url = git@github.com:shannonmoeller/up.git
[submodule "zsh/.zim"]
	path = zsh/.zim
	url = git@github.com:zimfw/zimfw.git
[submodule "dependencies/fzf.vim"]
	path = dependencies/fzf.vim
	url = git@github.com:rayjzeng/fzf.vim.git
