[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "powerline-fonts"]
	path = dependencies/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "base16-shell"]
	path = dependencies/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:rayjzeng/prezto
[submodule "dependencies/up"]
	path = dependencies/up
	url = https://github.com/shannonmoeller/up.git
